.logado{
   color: #2f42c1;
   font-size: 30px;
}

.nao_logado{
   color: #f30a2d;
   font-size: 30px;
}

span{
   color: #f30a2d;
}

h3{
   color: chocolate;
}

.letraMaiuscula{
   text-transform: uppercase;
}

.underline-title{
   text-decoration: underline;
   color: #f30a2d;
}
