<h2>📌 Interpolação de Dados no Angular</h2>

<p>
   A interpolação em Angular é uma forma de exibir valores do componente
   TypeScript no HTML usando a sintaxe {{ "valor" }}. Ela é usada exclusivamente
   para One-Way Data Binding no sentido componente → template (HTML).
</p>

<p>Nome: {{ nome }}</p>
<p>Idade: {{ idade }}</p>
<p>{{ saudacao() }}</p>

<p>{{ nome.toUpperCase() }}</p>
<!-- FABIO -->

<h3>Lista de hobbies:</h3>
@for (item of hobbies; track $index){
   <ul>
      <li>{{item}}</li>
   </ul>
}


<p>Hobbie que mais gosta: {{ hobbies[1] }}</p>
<p>Nome do carro: {{ carro.nome }} - {{ carro.marca }}</p>
